<div class="row">
  <div class="edit-wrapper col-center col-md-6 col-xs-6">
    <div class="page-title">
      <h1><%= t('task.edit.name') %></h1>
    </div>
    <%= render 'form', labels: @labels %>
    <div class="back-button row">
      <%= link_to t('task.back'), tasks_path, class: "btn btn-default col-md-12" %>
    </div>
  </div>
</div>