<div class="row">
  <h1 class="page-title">Edit</h1>
  <div class="edit-wrapper col-center col-md-6 col-xs-6">
    <%= render 'form' %>
    <div class="back-button row">
      <%= link_to t('task.back'), root_path, class: "btn btn-default col-md-12" %>
    </div>
  </div>
</div>