<div class="row">
  <h1 class="page-title">Show</h1>
  <div class="show-wrapper col-center col-md-6 col-xs-6">
    <h3>
      <span>名前:</span> <%= @user.name %>
    </h3>
    <h3>
      <span>メール:</span> <%= @user.email %>
    </h3>
    <div class="edit-button row">
      <%= link_to '編集', edit_user_path(@user), class: "btn btn-default col-md-12"  %>
    </div>
    <div class="back-button row">
      <%= link_to t('task.back'), root_path, class: "btn btn-default col-md-12"  %>
    </div>
  </div>
</div>