<header>
  <nav class="navbar-default">
    <div class="container-fluid row">
      <%= link_to 'Awesome Manager', root_path, id: "logo", class: "col-md-6" %>
      <div class="nav navbar-nav navbar-right col-md-6">
        <%= link_to "ログイン", login_path, class: "login-link col-md-6" %>
      </div>
    </div>
  </nav>
</header>